.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#tempo{

    box-shadow: .5px 1px 10px gray;
    padding-left: 23%;
    padding-top: 2em;
    padding-bottom: 2em;
}

#loginpage{
    width: 60%;
    height: 600px;
    margin-top: 5em;
    box-shadow: 0.25px 2px 15px gray;
    padding-right: 4em;
    padding-left: 4em;
    padding-top:2em;
    background-image: linear-gradient(to bottom right, rgb(233, 187, 135), rgb(174, 207, 202));
}


#thik{
    color: whitesmoke;
    font-size: 2em;
}

